<link rel='stylesheet' href='/stylesheets/style1.css' />
 <div class= "container">
<div class="small-container">
    <div class="row">
        {{# each products}}
                    {{!-- {{# each  this}} --}}
                        {{#fourIf  @index}}
                            </div>
                            <div class="row">
                        {{/fourIf}}

                            <div class="col-4">
                                <a href="/product-details/{{this._id}}">
                                    {{#with this.listImg}}
                                    <img src="{{this.[0]}}" alt="">
                                    {{/with}}</a>
                                    <div class="fontname editname">{{this.name}}</div>
                                    <div class="rating">
                                        <i>{{this.rate}}</i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                <p>₫{{this.price}}</p>
                            </div>
                {{!-- {{/each}} --}}
        {{/each}}
        </div>
</div>
    <div class="row">
        <div class="page-btn">
        {{# each page}}
            <span onclick="javascript:location.href='/products/{{this}}?textSearch={{../text}}&sort={{../option}}'">{{this}}</span>
        {{/each}}
        </div>
    </div>
</div>

